extends layout.pug

block styles
  link(rel='stylesheet', href='bootstrap.css')
  link(rel='stylesheet', href='prism.css')

block scripts
  script(src='jquery.min.js')
  script(src='bootstrap.js')
  script(src='prism.js')
  script(src='accordion.js')
  script(src='main.js')
