extends layout.pug

block styles
  link(rel='stylesheet', href='bootstrap.min.css')
  link(rel='stylesheet', href='prism.min.css')

block scripts
  script(src='https://code.jquery.com/jquery-3.1.1.slim.min.js', integrity='sha256-/SIrNqv8h6QGKDuNoLGA4iret+kyesCkHGzVUUV0shc=', crossorigin='anonymous')
  script(src='tether.min.js')
  script(src='bootstrap.min.js')
  script(src='prism.min.js')
  script(src='accordion.min.js')
  script(src='main.min.js')
